 
    <div class="form-group">
        <label for="empnumber" class="required">Emp. Number</label>
        <input [(ngModel)]="empl.empnumber" type="text" class="form-control"
        id="empnumber"  placeholder="Employee Number">
    </div>

    <div class="form-group">
        <label for="firstname" class="required">First Name</label>
        <input  [(ngModel)]="empl.firstname" type="text" 
        class="form-control" id="firstname"  placeholder="First Name">
    </div>
    <div class="form-group">
        <label for="lastname" class="required">Last Name</label>
        <input  [(ngModel)]="empl.lastname" type="text" 
        class="form-control" id="lastname"  placeholder="Last Name">
    </div>

    <div class="form-group">
        <label for="arabicfullname" class="required">Arabic Full Name</label>
        <input  [(ngModel)]="empl.arabicfullname" type="text" 
        class="form-control" id="arabicfullname"  placeholder="Arabic Full Name Name">
    </div>

    <div class="form-group">
        <select [(ngModel)]='empl.gender' id="gender" class="form-control">
            <option value='1'>Male</option>
            <option value='2'>Female</option>           
          </select>
    </div>

    <div class="form-group">
        <label for="salary" class="required">Salary</label>
        <input [(ngModel)]="empl.salary" type="text" 
        class="form-control" id="salary"  placeholder="Employee Salary">
    </div>
    <div class="form-group">
        <label for="idjob" class="required">Job</label>
        <select [(ngModel)]='empl.idjob' id="idjob" class="form-control">
        <option value='1'>RTG Operator</option>
        <option value='2'>Terminal Manager</option>
        <option value='3'>Logistics Manager</option>
      </select>
    </div>
    <div class="row">
        <div class="col-md-4 col-xs-4 col-sm-4">
            <div class="form-group">
                <label for="birthdate">Birth Date</label>
                <input  [(ngModel)]="empl.birthdate" type="date" 
                class="form-control" 
                id="birthdate"                
                placeholder="Birth Date">
            </div>
        </div>
        <div class="col-md-4 col-xs-4 col-sm-4">
            <div class="form-group">
                <label for="dateJoin">Date Join</label>
                    <input 
                    [(ngModel)]="empl.dateJoin" type="date" 
                    class="form-control" 
                    id="dateJoin"                    
                    placeholder="Date Join">
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="description" class="required">Description</label>
        <input  [(ngModel)]="empl.description" 
        type="text" class="form-control" id="description"  placeholder="Employee description">
    </div>

    <div class="form-group">
        <label for="password" class="required">Password</label>
        <input  [(ngModel)]="empl.password" type="text" class="form-control" id="password" 
         placeholder="Password">
    </div>

    <button class="btn btn-success" (click)="onSubmit()">Add</button>
    <button class="btn btn-default" [routerLink]="['/listemps']">Cancel</button>

